ul{
    list-style-image: url("ico.png");
}

/* ol{
    list-style-type: none;   
} */

a{
    text-decoration: none;
}

img{
    float: left;
}

td, th{
    border: 1px solid rgb(255, 0, 0);
    padding: 20px;
}
table{
    border-spacing: 20px;
    border-collapse:collapse;
}