/* img{
    width: 400px;
    float: left;
}

div{
    justify-content: center;
    align-items: center;
} */

div.flex >  img{
    width: 100px;
    
}

div.flex{
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 500px;
    height: 500px;
}