@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Sono:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Sono', sans-serif; /* Семейство шрифта*/
    font-weight: 400;  /* Вес шрифта (насоколько он тонкий или жирный)*/
    font-style: normal; /* СТиль шрифта*/
}

p{
    font-family: 'BhuTuka Expanded One', cursive;
}

body{
    text-align: center; /* Расположение шрифта относительно вертикали*/
}

div.container{
    text-align:center; 
    color: red; /* Цвет шрифта*/
}

a{
    text-decoration:none; /* Украшение шрифта*/
    color: black;
    transition: all 0.3s ease; /* Не относится к шрифту. Задает плавность*/
    letter-spacing: 26px; /* Расстояние между буквами*/
    line-height: 28px; /* Высота строки*/
    font-size: 24px; /* Размер шрифта*/
    text-transform:uppercase; /* Задает стиль для шрифта*/
}

a:hover{
    color: #ffff00 /* # 00-FF(red) 00-FF(green) 00-FF(blue); */ 
}